head {
	color: #ff6600;
	font-family: 'Inconsolata', monospace;
}

h1 {
	color: #ff9966;
	font-family: 'Inconsolata', monospace;
	text-align: center;
}

h2 {
	color: #ff9966;
	font-family: 'Inconsolata', monospace;
	text-align: center;
}

h3 {
	color: #ff9966;
	font-family: 'Inconsolata', monospace;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h4 {
	color: #ff9966;
	font-family: 'Inconsolata', monospace;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-family: 'Inconsolata', monospace;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

ul {
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: disc;
	padding-left: 20px;
}

ol {
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: disc;
	padding-left: 20px;
}

li {
	margin-right: 10px;
}

a:link {
	color: #ff9966;
}

a:visited {
	color: #ffaa80;
}

body {
	background-color: #FFFAFA;
}

#menu {
	color: #ff9966;
	font-family: 'Inconsolata', monospace;
	text-align: center;
	margin-top: 0;
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
